.flex-catalog {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  .catalog-item-left {
    flex: 70%;
  }
  
  .catalog-item-right {
    flex: 30%;
  }
  @media (max-width: 800px) {
    .catalog-item-left, .catalog-item-right {
      flex: 100%;
    }
  }