.customer-container{
    width: 100%;
}
#btn-group button {
    background-color: var(--app-content-secondary-color);
    color: var(--app-content-main-color); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px;
}
#btn-group:after {
    content: "";
    clear: both;
}
  /* Add a background color on hover */
#btn-group button:hover {
    color: var(--action-color);
}
#btn-group {
    margin-top: 5px;
}
.column {
    float: left;
}
.left {
    width: 49%;
}
.right {
    width: 49%;
}
.orders-select{
    width: calc(100%-15px);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 3px;
    line-height: 2!important;
    background-color:#ffffff;
    height: 25px;
    margin-left: 15px;
}
.detailed-order{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.label-customer{
    font-size: 14px;
    color: white;
}
.span-customer{
    font-size: 14px;
    color: #35d8ac;
}