.data-title{
    margin-left: 10px;
}
.detailed-order{
    color: var(--sidebar-link);
}
.leftdiv{
    float:left;
    margin-left: 15px;
    color: var(--sidebar-link);
}
.select-order{
    width: 300px;
    vertical-align: middle;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightgray;
font-size: 14px;

}
td {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid lightgray;
}
.col1 {
    width: 80%;
}
.col2 {
    width: 20%;
text-align: right;
}
tr:nth-child(odd) {
    background-color: #101827;
color: white;
}
tr:nth-child(even) {
    background-color: white;
color: black;
}
tr {
    height: 5px;
    margin: 5px 0;
}
.label-customer{
vertical-align: middle;
}