body{
    color: white !important;
    width: 100% !important;
}
.data-title{
    margin-left: 10px;
}
.label-customer{
    vertical-align: middle !important;
}
.container {
    width: 100%;
}
.left-text {
    float: left;
}
.right-text {
    float: right;
}